<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">

<head
    style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
    <meta name="viewport" content="width=device-width"
        style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
        style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
    <title
        style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
        构建通知 | Applets CLI</title>
</head>

<body itemscope="" itemtype="http://schema.org/EmailMessage"
    style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; background-color: #fff; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; height: 100%; line-height: 1.5; margin: 0; padding: 10px; width: 100% !important;">

    <table class="body-wrap"
        style="background-color: #f1f3fa; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; width: 100%;">
        <tr
            style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
            <td
                style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; vertical-align: top;">
            </td>
            <!-- width="480" -->
            <td class="container"
                style="box-sizing: border-box; clear: both !important; display: block !important; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0 auto !important; max-width: 480px !important; vertical-align: top;">
                <div class="content"
                    style="box-sizing: border-box; display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0 auto; max-width: 480px;">

                    <div class="header"
                        style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; margin-bottom: 20px; margin-top: 30px; width: 100%;">
                        <table width="100%"
                            style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                            <tr
                                style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                                <td class="aligncenter"
                                    style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; text-align: center; vertical-align: top;">
                                    <h2 style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; margin: 0;">Applets CLI</h2>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <table class="main" width="100%" cellpadding="0" cellspacing="0"
                        style="background-color: #fff; border: 1px solid #e9e9e9; border-radius: 3px; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                        <tr
                            style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                            <td class="content-wrap"
                                style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding: 15px; vertical-align: top;">

                                <div class="main-container" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                                    <div class="title bottom-line" style="border-bottom: 1px solid rgba(0, 0, 0, 0.12); box-sizing: border-box; color: #212121; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; margin: 0; padding: 5px 0 20px 0; text-align: center;">
                                        <!-- replace:start: 邮件标题 -->
                                        【{{platform}}】小程序构建成功
                                        <!-- replace:end: 邮件标题 -->
                                    </div>
                                    <div class="content" style="box-sizing: border-box; color: #757575; display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0 auto; max-width: 480px;">
                                        <p class="description" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding-top: 15px;">
                                            以下为具体的构建信息：
                                        </p>
                                        <table class="invoice margin-bottom-5" style="border-spacing: 0; box-sizing: border-box; color: #616161; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 10px 0 15px 0; margin-bottom: 5px !important; text-align: center; width: 100%;">
                                            <tr style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                                                <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; vertical-align: top;">
                                                    <table class="invoice-items align-left" cellpadding="0" cellspacing="0" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; width: 100%;">
                                                        <tbody style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                                                            <tr style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                                                                <td width="40%" style="border-bottom: #e0e0e0 1px solid; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding: 9px 10px; text-align: left; vertical-align: middle;">应用名称</td>
                                                                <td width="60%" style="border-bottom: #e0e0e0 1px solid; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding: 9px 10px; text-align: left; vertical-align: middle;">{{name}}</td>
                                                            </tr>
                                                            <tr style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                                                                <td style="border-bottom: #e0e0e0 1px solid; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding: 9px 10px; text-align: left; vertical-align: middle;">当前版本</td>
                                                                <td style="border-bottom: #e0e0e0 1px solid; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding: 9px 10px; text-align: left; vertical-align: middle;">{{version}}</td>
                                                            </tr>
                                                            <tr style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                                                                <td style="border-bottom: #e0e0e0 1px solid; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding: 9px 10px; text-align: left; vertical-align: middle;">所属类型</td>
                                                                <td style="border-bottom: #e0e0e0 1px solid; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding: 9px 10px; text-align: left; vertical-align: middle;">{{devName}}</td>
                                                            </tr>
                                                            <tr style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                                                                <td style="border-bottom: #e0e0e0 1px solid; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding: 9px 10px; text-align: left; vertical-align: middle;">Git最新版本</td>
                                                                <td style="border-bottom: #e0e0e0 1px solid; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding: 9px 10px; text-align: left; vertical-align: middle;">{{gitHash}}</td>
                                                            </tr>
                                                            <tr style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                                                                <td style="border-bottom: #e0e0e0 1px solid; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding: 9px 10px; text-align: left; vertical-align: middle;">提交摘要</td>
                                                                <td style="border-bottom: #e0e0e0 1px solid; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding: 9px 10px; text-align: left; vertical-align: middle;">{{@gitCommit}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                            
                                        <p class="description text-center" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding-top: 15px; text-align: center;">
                                            <span class="block" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">快速体验二维码: </span>
                                        </p>
                                        <p class="description text-center" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding-top: 15px; text-align: center;">
                                            <img src="cid:qcode_img_url" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                                        </p>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </table>

                    <div class="footer"
                        style="box-sizing: border-box; clear: both; color: #bdbdbd; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; padding: 20px; width: 100%;">
                        <table width="100%"
                            style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                            <tr
                                style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
                                <td class="aligncenter content-block"
                                    style="box-sizing: border-box; color: #bdbdbd; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; margin: 0; padding: 0 0 20px; text-align: center; vertical-align: top;">
                                    © Copyright 2011-2017 Applets CLI Rights Reserved</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </td>
            <td
                style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0; vertical-align: top;">
            </td>
        </tr>
    </table>
</body>

</html>